NEXT_PUBLIC_S3_ENDPOINT=https://i8h4.sg.idrivee2-24.com
NEXT_PUBLIC_S3_REGION=sg
NEXT_PUBLIC_S3_BUCKET=sf-forums
NEXT_PUBLIC_S3_ACCESS_KEY_ID=xiiZL72Ie1vnxyb63dcH
NEXT_PUBLIC_S3_SECRET_ACCESS_KEY=EUMhvuNqSOvgXQlMNuQrjQ3CktyrKeppu4of3DEQ

NEXT_PUBLIC_API_URL=https://api.stoneform.site/api